gateway-portal/src/test/resources/wsdl/ReceivePutStateService.xml

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions
        xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:tns="http://tempuri.org/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:s="http://www.w3.org/2001/XMLSchema"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="ReceiveState">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="LaunchPayBillNo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ConfirmLaunchDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LaunchStatus" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ReceiveStateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ReceiveStateResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="string" nillable="true" type="s:string"/>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="ReceiveStateSoapIn">
        <wsdl:part name="parameters" element="tns:ReceiveState"/>
    </wsdl:message>
    <wsdl:message name="ReceiveStateSoapOut">
        <wsdl:part name="parameters" element="tns:ReceiveStateResponse"/>
    </wsdl:message>
    <wsdl:message name="ReceiveStateHttpGetIn">
        <wsdl:part name="LaunchPayBillNo" type="s:string"/>
        <wsdl:part name="ConfirmLaunchDate" type="s:string"/>
        <wsdl:part name="LaunchStatus" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ReceiveStateHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="ReceiveStateHttpPostIn">
        <wsdl:part name="LaunchPayBillNo" type="s:string"/>
        <wsdl:part name="ConfirmLaunchDate" type="s:string"/>
        <wsdl:part name="LaunchStatus" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ReceiveStateHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:portType name="ReceivePutStateServiceSoap">
        <wsdl:operation name="ReceiveState">
            <wsdl:input message="tns:ReceiveStateSoapIn"/>
            <wsdl:output message="tns:ReceiveStateSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ReceivePutStateServiceHttpGet">
        <wsdl:operation name="ReceiveState">
            <wsdl:input message="tns:ReceiveStateHttpGetIn"/>
            <wsdl:output message="tns:ReceiveStateHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ReceivePutStateServiceHttpPost">
        <wsdl:operation name="ReceiveState">
            <wsdl:input message="tns:ReceiveStateHttpPostIn"/>
            <wsdl:output message="tns:ReceiveStateHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ReceivePutStateServiceSoap" type="tns:ReceivePutStateServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveState">
            <soap:operation soapAction="http://tempuri.org/ReceiveState" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReceivePutStateServiceSoap12" type="tns:ReceivePutStateServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ReceiveState">
            <soap12:operation soapAction="http://tempuri.org/ReceiveState" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReceivePutStateServiceHttpGet" type="tns:ReceivePutStateServiceHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="ReceiveState">
            <http:operation location="/ReceiveState"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ReceivePutStateServiceHttpPost" type="tns:ReceivePutStateServiceHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="ReceiveState">
            <http:operation location="/ReceiveState"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ReceivePutStateService">
        <wsdl:port name="ReceivePutStateServiceSoap" binding="tns:ReceivePutStateServiceSoap">
            <soap:address
                    location="http://projectmanagebak.chamc.com.cn/projectmanage/WebServices/ReceivePutStateService.asmx"/>
        </wsdl:port>
        <wsdl:port name="ReceivePutStateServiceSoap12" binding="tns:ReceivePutStateServiceSoap12">
            <soap12:address
                    location="http://projectmanagebak.chamc.com.cn/projectmanage/WebServices/ReceivePutStateService.asmx"/>
        </wsdl:port>
        <wsdl:port name="ReceivePutStateServiceHttpGet" binding="tns:ReceivePutStateServiceHttpGet">
            <http:address
                    location="http://projectmanagebak.chamc.com.cn/projectmanage/WebServices/ReceivePutStateService.asmx"/>
        </wsdl:port>
        <wsdl:port name="ReceivePutStateServiceHttpPost" binding="tns:ReceivePutStateServiceHttpPost">
            <http:address
                    location="http://projectmanagebak.chamc.com.cn/projectmanage/WebServices/ReceivePutStateService.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>